.background-cuttingboard {
    position: fixed;
    top: 48vh;
    left: calc(50vw - 64vh);
    width: 128vh;
    height: 96vh;
    transform: rotate(15deg);
    background-image: url('assets/images/background_boardcutting.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.abc-title {
    padding-top: 37vh;
    animation: fade-in 500ms;
}

@keyframes fade-in {
    from { opacity: 0;}
    to { opacity: 1;}
}

